In [1]:
import pandas as pd

In [15]:
genes = pd.read_csv('sacCer3.csv')
RNA = pd.read_csv('Scer_RNA_reference.csv')

In [16]:
genes.head()

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,proteinID,length
0,YAL012W,chrI,+,130798,131983,130798,131983,1,"130798,","131983,",CYS3,1185
1,YAL055W,chrI,+,42176,42719,42176,42719,1,"42176,","42719,",PEX22,543
2,YAL063C,chrI,-,23999,27968,23999,27968,1,"23999,","27968,",FLO9,3969
3,YAL064W,chrI,+,21565,21850,21565,21850,1,"21565,","21850,",YAL064W,285
4,YAL041W,chrI,+,62839,65404,62839,65404,1,"62839,","65404,",CDC24,2565

In [5]:
RNA.head()

               ORF    RNA_Prints
0  ENSG00000000003  141172.12110
1  ENSG00000000005     141.05239
2  ENSG00000000419   67003.75258
3  ENSG00000000457   17719.84729
4  ENSG00000000460   52828.05349

In [9]:
combined = genes.merge(RNA, how = 'left',left_on = 'name',right_on = 'ORF')
combined = combined[['name','transcript','length','RNA_Prints']]

In [10]:
combined.head()

              name       transcript  length    RNA_Prints
0  ENSG00000210049  ENST00000387314      71  2.201895e+03
1  ENSG00000211459  ENST00000389680     954  3.981897e+06
2  ENSG00000210077  ENST00000387342      69  2.430681e+04
3  ENSG00000210082  ENST00000387347    1559  1.302829e+07
4  ENSG00000209082  ENST00000386347      75  3.023855e+03

In [13]:
combined['RNA_Prints'] = combined['RNA_Prints'].fillna(0)
combined.loc[combined['RNA_Prints'].isna()]

Empty DataFrame
Columns: [name, transcript, length, RNA_Prints]
Index: []

In [14]:
combined.to_csv('GRCh38.csv')